
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Carlito", sans-serif;
}
.container {
  padding: 20px;
  font-family: "Carlito", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.redstar {
  color: red;
}
.inbox{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.names {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  width: 100%;
}
.lbox {
  align-self: end;
}
.label {
  font-weight: 700;
} 
.names, input{
  width: 100%;
  outline: none;
  padding: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0 20px;
  text-align: center;
}
table tr td:first-child {
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
textarea {
  width: 100%;
}

.email,
.experience,
.satisfied,
.likes,
.comment {
  margin-top: 30px;
}

 .small{
    font-size: small;
 }